/* general */
body {
  font-family: 'Source Sans Pro', Helvetica Neue, sans-serif;
  /*font-size: 100%;*/
  background: #fafafa;
}
article {
  background: white;
  padding: 15px;
  margin: 15px 0;
  /*border: 1px solid #ddd; */
  border-left: 4px solid #EDDE4D;       
}
header h2 {
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 100;
  /*font-size: 1.5em;*/
}


/* jumbotron */
#intro {
  background: #f09819; /* Old browsers */
  background: -moz-linear-gradient(left,  #f09819 0%, #edde4d 50%, #f09819 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f09819), color-stop(50%,#edde4d), color-stop(100%,#f09819)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #f09819 0%,#edde4d 50%,#f09819 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #f09819 0%,#edde4d 50%,#f09819 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #f09819 0%,#edde4d 50%,#f09819 100%); /* IE10+ */
  background: linear-gradient(to right,  #f09819 0%,#edde4d 50%,#f09819 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09819', endColorstr='#f09819',GradientType=1 ); /* IE6-9 */

  /*background: linear-gradient(10deg, #F09819, #EDDE4D);*/
  /*background: radial-gradient(circle at 2.01% 98.00%, #F09819, transparent 100%),radial-gradient(circle at 97.99% 29.05%, #EDDE5D, transparent 100%),radial-gradient(circle at 50% 50%, #61f1f4, #61f1f4 100%);*/
  padding: 0 40px;
  color: #fff;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  height: 400px;        
}
#intro::after {
  /*background: url(./img/header.png);*/
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 1;
  top: -400px;
  left: 0px;
  content: '';
  display: block;
  position: absolute;        
}
.logo {
  width: 270px;
  position: absolute;
  margin: 100px 50% 0;
  left: -135px;
}

/* nav */
#nav {
  background: white;
  /*border-bottom: 1px solid #ddd;*/
}
#nav .list-inline {
  margin: 0 auto;
  width: 210px;
}
#nav .list-inline li {
  padding: 10px 20px;                
}
#nav a  {
  text-decoration: none;
  cursor: pointer; 
}

/*  pulse */
.time-period {
  text-align: center;
  margin-top: 15px;
  color: #999;
}
#pulse header h2 span {
  font-size: 15px;
  float: right;
  color: #ddd;
}
#pulse header h2 span:hover {
  color: #999;
}      
#summary h1 {
  margin: 0;
  color: #F09819;
  font-size: 1.2em;
}
#summary span {
  text-transform: uppercase;
  color: #888;
}
#summary section {
  margin: 20px 0;
  color: #444;
}
#summary section :first-child {
  padding-left: 0;
}      
#summary section div:last-child {
  padding-left: 30px;
  padding-right: 0;
}      
#market-stability section {
  text-align: center;
}      
.col-chart {
  padding: 0 15px;
}
.chart-tooltip {
  padding: 10px;
}

/* tape */
#tape table {
  background: white;
}


/* mobile */

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  #summary h1 {
    font-size: 2.6em;
  }  
}