body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h1 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.tradeFilter {
  padding-bottom: 10px;
}

.gauge {
  margin: auto;
}

.noPadding {
  padding: 0;
}

.page-header {
  margin: 5px 0 5px;
}

.footer {
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  
  .header {
    margin-bottom: 30px;
  }
}